<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="description"
          content="A survey comparing state of the art 3D Gaussian splatting compression methods, made by researchers at Fraunhofer Heinrich Hertz Institute HHI and Humboldt University of Berlin."/>
    <meta property="og:title" content="3DGS.zip: A survey on 3D Gaussian Splatting Compression Methods"/>
    <meta property="og:description"
          content="A survey comparing state of the art 3D Gaussian splatting compression methods, made by researchers at Fraunhofer Heinrich Hertz Institute HHI and Humboldt University of Berlin."/>
    <meta property="og:url" content="https://survey.3dgs.zip"/>
    <meta property="og:image" content="https://w-m.github.io/3dgs-compression-survey/static/images/survey-teaser.webp"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <meta name="twitter:title" content="3DGS.zip: A survey on 3D Gaussian Splatting Compression Methods"/>
    <meta name="twitter:description"
          content="A survey comparing state of the art 3D Gaussian splatting compression methods, made by researchers at Fraunhofer Heinrich Hertz Institute HHI and Humboldt University of Berlin."/>
    <meta name="twitter:image" content="https://w-m.github.io/3dgs-compression-survey/static/images/survey-teaser.webp"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="keywords"
          content="3D Gaussian Splats, 3D scene representation, compact data size, high-quality rendering, Fraunhofer Heinrich Hertz Institute, Humboldt University of Berlin, resource-constrained devices, fast web applications"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>3D Gaussian Splatting Compression Survey</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico"/>

    <!-- STYLE -->
    <link rel="stylesheet" href="static/css/bulma_purged.min.css"/>
    <link rel="stylesheet" href="static/css/bulma-carousel_purged.min.css"/>
    <link rel="stylesheet" href="static/css/bulma-slider_purged.min.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link href="static/css/datatables.min.css" rel="stylesheet">

    <link async rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script async src="static/js/fontawesome.all.min.js"></script>
    <script defer src="static/js/plotly-1.58.5.min.js"></script>
    <script src="static/js/datatables.min.js"></script>


    <script async src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js" integrity="sha512-1kNZVA50gKlorLAWU83+SdOAUwABzfFFQ4WuOAZTeS/UhNhnm9zU7rDv/Q5NEzSnr5u2L6uhR/+8icjjmHjSnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css" integrity="sha512-J8je2SgrCzA7hNBeiCJiA6oETHTTdp3We3EriOgJp6POycGLcDXj5dSwWlAPQcYGeaQ4N3uf30aOg/Nt5pxW2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
<section class="hero">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <h1 class="title is-1 publication-title">
                        3DGS.zip: A survey on 3D Gaussian Splatting Compression Methods
                    </h1>
                    <div class="is-size-5 publication-authors">
                        <!-- Paper authors -->
                        <span class="author-block">
                            <a href="https://www.hhi.fraunhofer.de/en/departments/vit/research-groups/computer-vision-graphics/team/milena-bagdasarian.html"
                               target="_blank">Milena Bagdasarian</a><sup><small>1</small></sup>,</span>
                        <span class="author-block">
                            <span style="color: hsl(204, 86%, 53%);">Paul Knoll</span><sup><small>1</small></sup>,</span>
                        <span class="author-block">
								<a href="https://florian-barthel.github.io/" target="_blank">
									Florian Barthel</a><sup><small>1,2</small></sup>,</span>
                        <span class="author-block">
                                <a href="https://iphome.hhi.de/hilsmann/index.htm"
                                   target="_blank">Anna Hilsmann</a><sup><small>1</small></sup>,</span>
                        <span class="author-block">
                                <a href="https://iphome.hhi.de/eisert/index.htm"
                                   target="_blank">Peter Eisert</a><sup><small>1,2</small></sup>,</span>
                        <span class="author-block">
								<a href="https://www.hhi.fraunhofer.de/en/departments/vit/research-groups/computer-vision-graphics/team/morgenstern.html"
                                   target="_blank">Wieland Morgenstern</a><sup><small>1</small></sup></span>
                        
                    </div>

                    <div class="is-size-5 publication-authors">
							<span class="author-block">
								<sup><small>1 </small></sup>Fraunhofer Heinrich Hertz
								Institute, HHI <br/>
								<sup><small>2 </small></sup>Humboldt University of Berlin
								<br/>
                                <!-- Conferance name and year -->
							</span>
                    </div>

                    <div class="column has-text-centered">
                        <!-- LateXML rendering GitHub page -->

                        <div class="publication-links">
                            <!-- Github link -->
                            <span class="link-block">
                                <a href="https://github.com/w-m/3dgs-compression-survey"
                                    target="_blank" class="external-link button is-normal is-rounded is-dark">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Star us on Github</span>
                                </a>
                            </span>
                            <!-- Arxiv link -->
                            <span class="link-block">
                                <a href="https://arxiv.org/abs/2407.09510" target="_blank"
                                    class="external-link button is-normal is-rounded is-dark is-disabled">
                                    <span class="icon">
                                        <i class="ai ai-arxiv"></i>
                                    </span>
                                    <span>arXiv</span>
                                </a>
                            </span>
                        </div>
			<br>
                        <br>
                        We present a work-in-progress survey on 3D Gaussian Splatting compression methods, focusing on their statistical performance across various benchmarks. 
                        This survey aims to facilitate comparability by summarising key statistics of different compression approaches in a tabulated format. 
                        The datasets evaluated include TanksAndTemples, MipNeRF360, DeepBlending, and SyntheticNeRF. 
                        For each method, we report the Peak Signal-to-Noise Ratio (PSNR), Structural Similarity Index (SSIM), Learned Perceptual Image Patch Similarity (LPIPS), and the resultant size in megabytes (MB), as provided by the respective authors. 
                        This is an ongoing, open project, and we invite contributions from the research community as GitHub issues or pull requests.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-small">
    <div class="hero-body">
        <div class="tablecontainer">
            {{results_table | safe}}
        </div>
    </div>
</section>

<div class="legend-container" style="margin-top: -30px;">
    <div class="legend">
      <div>
        <b style="margin-bottom: 5px; display: inline-block;">Attributes:</b>
        <label><input type="checkbox" class="column-toggle" data-columns="2,8,14,20" checked> PSNR</label>
        <label><input type="checkbox" class="column-toggle" data-columns="3,9,15,21" checked> SSIM</label>
        <label><input type="checkbox" class="column-toggle" data-columns="4,10,16,22" checked> LPIPS</label>
        <label><input type="checkbox" class="column-toggle" data-columns="5,11,17,23" checked> Size</label>
        <label><input type="checkbox" class="column-toggle" data-columns="6,12,18,24" > Number of Gaussians</label>
        <label><input type="checkbox" class="column-toggle" data-columns="7,13,19,25" > Bits per Gaussian</label>
      </div>
      <br>
      <div>
        <b style="margin-bottom: 5px; display: inline-block;">Datasets:</b>
        <label><input type="checkbox" class="column-toggle-datasets" data-columns="2,3,4,5,6,7" checked> Tanks and Temples</label>
        <label><input type="checkbox" class="column-toggle-datasets" data-columns="8,9,10,11,12,13" checked> Mip-NeRF 360</label>
        <label><input type="checkbox" class="column-toggle-datasets" data-columns="14,15,16,17,18,19" checked> Deep Blending</label>
        <label><input type="checkbox" class="column-toggle-datasets" data-columns="20,21,22,23,24,25" checked> Synthetic NeRF</label>
      </div>
    </div>
  </div>

<br>

<script>
    let table = null;
    var setScroll = false;
    var setNoScroll = false;

    var nanBottom = $.fn.dataTable.absoluteOrderNumber({
        value: '', position: 'bottom'
    });
    var tableOptions = {
        columnDefs: [
            { targets: [1,4,5,6,7,10,11,12,13,16,17,18,19,22,23,24,25], orderSequence: ['asc', 'desc'] },
            { targets: '_all', orderSequence: ['desc', 'asc'] },
            { targets: '_all', type: nanBottom },
            { targets: "_all", className: "has-text-right" },
            { targets: [0], orderable: false},
            { targets: [6,7,12,13,18,19,24,25], visible: false },
        ],
        "lengthChange": false, // Removes the "entries per page" dropdown
        "searching": false,    // Removes the search box
        "info": false,         // Removes the information display (e.g., "Showing 1 to 3 of 3 entries")
        "paging": false,        // Removes the pagination controls
        "scrollX": true,        // Enables horizontal scrolling
        // "colReorder": true,     // Enables column reordering with drag and drop <- breaks checkbox legend if enabled
        "fixedColumns": true,    // Always show first / "Methods" column
        "stripe": true,
        "orderClasses": false,
        "order": [[1, 'asc']] // Sets the default ordering to rank ascending

    }

    function reportWindowSize() {
        const tableElement = document.querySelector('#results');
        const tableWidth = tableElement.scrollWidth;
        const windowWidth = window.innerWidth;
        const tableContainer = document.querySelector('.tablecontainer');

        if (tableWidth >= windowWidth * 1.33) {
            if (!setScroll) {
                setScroll = true;
                setNoScroll = false;

                if (table){
                    table.destroy();
                }

                if (!tableContainer.classList.contains('tablecontainer-scroll')) {
                    tableContainer.classList.add('tablecontainer-scroll');
                }
                if (tableContainer.classList.contains('tablecontainer-noscroll')) {
                    tableContainer.classList.remove('tablecontainer-noscroll');
                }
                tableOptions.scrollX = true;
                table = new DataTable('#results', tableOptions);
                updateColumnVisibility();
            }
        } else {
            if (!setNoScroll) {
                if (table){
                    table.destroy();
                }
                setNoScroll = true;
                setScroll = false;

                if (tableContainer.classList.contains('tablecontainer-scroll')) {
                    tableContainer.classList.remove('tablecontainer-scroll')
                }
                if (!tableContainer.classList.contains('tablecontainer-noscroll')) {
                    tableContainer.classList.add('tablecontainer-noscroll');
                }
                tableOptions.scrollX = false;
                table = new DataTable('#results', tableOptions);
                updateColumnVisibility();
            }
        }
    }
        
    // Function to update column visibility based on checkbox states
    function updateColumnVisibility() {
        // Initialize a count object to keep track of column occurrences
        var columnCount = {};

        // Helper function to increment column count
        function incrementColumnCount(columns) {
            columns.forEach(function(index) {
                if (columnCount[index] === undefined) {
                    columnCount[index] = 0;
                }
                columnCount[index]++;

            });
        }

        // Process column-toggle checkboxes
        $('.column-toggle').each(function() {
            if ($(this).is(':checked')) {
                var columns = $(this).data('columns').split(',').map(Number);
                incrementColumnCount(columns);
            }
        });

        // Process column-toggle-datasets checkboxes
        $('.column-toggle-datasets').each(function() {
            if ($(this).is(':checked')) {
                var columns = $(this).data('columns').split(',').map(Number);
                incrementColumnCount(columns);
            }
        });

        columnCount[0] = 2; // Always show the first column
        columnCount[1] = 2; // Always show the second column

        // Update column visibility based on occurrences
        table.columns().every(function() {
            var index = this.index();
            var visible = columnCount[index] === 2; // Should be visible if count is 2

            this.visible(visible);
        });
        reportWindowSize();
    }

    // Attach the update function to checkbox changes
    $('.column-toggle, .column-toggle-datasets').on('change', function() {
        updateColumnVisibility();
        updateRanks();
    });
    
    reportWindowSize();
    window.onresize = reportWindowSize;

</script>

<!-- EXPLANATIONS -->
<section class="section hero is-light">
    <div class="container is-max-desktop">
        <div class="columns is-centered has-text-centered">
            <div class="column is-four-fifths">
                <div class="content has-text-justified">
                    <p>
                        The best methods in each category are highlighted with 
                        <span class="first" style="font-weight: bold; padding: 2px 6px;">gold</span>, 
                        <span class="second" style="font-weight: bold; padding: 2px 6px;">silver</span>, and 
                        <span class="third" style="font-weight: bold; padding: 2px 6px;">bronze</span> colors.

                        <br>
                        <br>

                        The <b>ranks</b> represent the average rankings of the methods across all available and selected datasets. 
                        The quality metrics PSNR, SSIM, and LPIPS are equally weighted with the model size. 
                        Thus, each quality metric contributes one-sixth to the overall ranking, 
                        while the model size accounts for the remaining half, assuming all metrics are selected.
                        The formula for calculating the dataset ranks based on the current selection is provided below.

                        <br>
                        <div id="formula" style="display: flex; justify-content: center;"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<!-- PLOTS -->
<div class="interactive-plots-container">
    {% for i in range(4) %}
    <div class="plot-container">
        <div class="tab-buttons">
            <button id="button{{ i }}1" class="active" onclick="showTab('tab{{ i }}1', 'button{{ i }}1')">PSNR</button>
            <button id="button{{ i }}2" onclick="showTab('tab{{ i }}2', 'button{{ i }}2')">SSIM</button>
            <button id="button{{ i }}3" onclick="showTab('tab{{ i }}3', 'button{{ i }}3')">LPIPS</button>
        </div>

        <div id="tab{{ i }}1" class="tab tab-active">
            <div id="plot{{ i }}1" class="plot-content"></div>
        </div>
        <div id="tab{{ i }}2" class="tab">
            <div id="plot{{ i }}2" class="plot-content"></div>
        </div>
        <div id="tab{{ i }}3" class="tab">
            <div id="plot{{ i }}3" class="plot-content"></div>
        </div>
    </div>
    {% endfor %}

    <div class="legend-container">
        <div class="legend" id="legend"></div>
    </div>
</div>

<script>
    var plotData = {{ plot_data | safe }};
    var groupLinks = {{ group_links | safe }};
    var checkboxStates = {{ checkbox_states|safe }};
    var groupColors = {{ groupcolors | safe }};
    var rankCombinations = {{ rank_combinations | safe }};
    var metricFormulas = {{ metric_formulas | safe }}; // metricFormulas["1111"]
    document.getElementById('formula').innerHTML = katex.renderToString(metricFormulas["1111"])

</script>

<br>

<div class="outer-container">
    <div class="switch-container">
        <span class="switch-text left">Size (MB)</span>
        <label class="switch">
            <input type="checkbox" id="switchInput">
            <span class="slider"></span>
        </label>
        <span class="switch-text right">Number of Gaussians</span>
    </div>
</div>

<br>

{% for paper in summaries %}
<section class="section hero">
    <div class="container is-max-desktop" id="{{ paper.name }}">
        <div class="column is-centered has-text-centered">
            <h2 class="title is-3" style="margin-left: 10px; margin-right: 10px;">
                {{ paper.title }}
              </h2>
            <div class="is-size-5 publication-authors">
                <span class="author-block">
                    {{ paper.authors }}</span>
            </div>
            {% if not "arXiv" in paper.published_at %}
            <span class="rounded-bullet"><b>{{ paper.published_at }}</b></span>
            {% endif %}
            <br>
            <div class="content has-text-justified">
                <p>
                    {{ paper.summary }}
                </p>
                <div style="display: flex; justify-content: center; align-items: center">
                    {% if paper.imheight <= 250 %}
                    <img src="{{ paper.image }}" alt="" width="{{paper.imwidth}}" height="{{paper.imheight}}" loading="lazy">
                    {% else %}
                    <img src="{{ paper.image }}" alt="" style="max-height: 250px;" loading="lazy">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if not loop.last %}
<hr class="divider"> <!-- Horizontal line between papers -->
{% endif %}

{% endfor %}

<!--BibTex citation -->
<section class="section" id="BibTeX">
    <div class="container is-max-desktop">
      <div class="columns is-centered has-text-centered">
        <div class="column is-four-fifths">
          <h2 class="title">BibTeX</h2>
          <p>If you use our method in your research, please cite our work. You can use the following BibTeX entry:</p>
          <br>
        </div>
      </div>
    </div>
    <div class="container is-max-desktop">
        <pre><code>
@misc{3DGSzip2024,
    title={3DGS.zip: A survey on 3D Gaussian Splatting Compression Methods}, 
    author={Milena T. Bagdasarian and Paul Knoll and Florian Barthel and Anna Hilsmann and 
            Peter Eisert and Wieland Morgenstern},
    year={2024},
    eprint={2407.09510},
    archivePrefix={arXiv},
    primaryClass={cs.CV},
    url={https://arxiv.org/abs/2407.09510}, 
} 
        </code></pre>
    </div>
  </section>
<!--End BibTex citation -->

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="content">
                    <p>
                        This page was built using the
                        <a href="https://github.com/eliahuhorwitz/Academic-project-page-template"
                           target="_blank">Academic
                            Project
                            Page Template</a>. <br/>
                        This website is licensed under a
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
                           target="_blank">Creative
                            Commons
                            Attribution-ShareAlike 4.0 International
                            License</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Statcounter tracking code -->

<!-- You can add a tracker to track page visits by creating an account at statcounter.com -->

<!-- End of Statcounter Code -->
<script src="static/js/scripts.js"></script>
</body>
</html>
