.title-link {
  position: relative;
}

.title-link::before {
  content: '';
  position: absolute;
  right: 100%; 
  top: 3px;
  width: 30px; 
  height: 30px;  
  border-radius: 8px;
  background-color: var(--title-box-color, #000000);
  margin-right: 10px; 
}

.rounded-bullet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #8B0000;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 8px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 14px; 
  line-height: 1; 
}
.rounded-bullet:hover {
  background-color: #A52A2A;
  transform: scale(1.02);
}

.video-container {
  aspect-ratio: 1;
  /* float: left; */
}

.videoCanvas {
  border-radius: 5px;

}

.first {
  background: radial-gradient(circle at 0% 0%, rgba(250, 250, 0, 65%) 0%, rgba(255, 215, 0, 65%) 80%);
}

.second {
  background: radial-gradient(circle at 0% 0%, rgba(230, 230, 230, 65%) 0%, rgba(192, 192, 192, 65%) 80%);

}

.third {
  background: radial-gradient(circle at 0% 0%, rgba(230, 170, 100, 0.24) 0%, rgba(205, 127, 50, 0.48) 80%);
}

.tablecontainer {
  width: 100%;
  margin-bottom: 25px;
}

.tablecontainer-scroll {
  overflow-x: auto;
}
.tablecontainer-noscroll {
  display: flex;
  justify-content: center;
  align-items: center;
}


.interactive-plots-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #fff;
  gap: 10px; 
  max-width: 1900px; 
  margin: 0 auto;  
  padding: 0 20px;  
}

.plot-container {
  flex: 1 1 calc(25% - 10px);
  box-sizing: border-box;
  margin: 10px 0; 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1); 
  aspect-ratio: 1 / 1;
}

.plot-content {
  width: 100%;
  height: 100%;
}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.tab-buttons button {
  flex: 1;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: #f1f1f1;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.tab-buttons button.active {
  background-color: #ccc;
  border-radius: 8px 8px 0 0;
}

.tab-buttons button:hover {
  background-color: #e1e1e1;
  border-radius: 8px; 
}

.tab {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35px;
  left: 0;
}

.tab-active {
  display: block;
}

.legend label {
  display: flex;
  align-items: center;
  margin-right: 15px; 
}
.column-toggle {
  margin-left: 5px; 
}

.legend-container {
  display: block; 
  width: max-content; 
  padding: 20px;
  box-sizing: border-box;
  margin: 40px auto 0 auto; 
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, .7);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend-item {
  margin: 5px 10px;
  display: flex;
  align-items: center;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 4px;
  flex-shrink: 0; 
}

.legend-color-box-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.legend-color-box-methods {
  width: 20px;
  height: 20px;
  margin-right: -10px;
  border-radius: 4px;
  flex-shrink: 0; 
}

.method-name {
  display: flex; 
  white-space: normal; 
  text-align: left; 
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .plot-container {
    flex: 1 1 100%;
    margin-bottom: 40px;
  }

  .tab-buttons button {
    font-size: 12px;
    padding: 3px;
  }
}

@media (max-width: 1920px){
  body {
      transform: scale(0.75);
      transform-origin: top left;
      width: 133.33%;
      height: 133.33%;
      overflow-x: hidden;
      overflow-y: hidden;
  }
}